<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.bsd.zwitscher"
          android:versionName="Tick"
          android:versionCode="22"
          >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:icon="@drawable/icon" android:label="Zwitscher"
    			android:debuggable="true"  android:allowBackup="true"
    			>


        <activity android:name=".TweetListActivity">
		</activity>

		<activity android:name=".TabWidget">
		<!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

		-->
		</activity>

		<activity android:name=".OneTweetActivity">
		</activity>

        <activity android:name=".NewTweetActivity">


        </activity>
    <activity android:name="Preferences" android:label="Preferences"></activity>
	<activity android:name="LoginActivity">
        <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

	</activity>
</application>

<!--  <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>  -->
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<uses-sdk android:minSdkVersion="7" />
</manifest>
